<div class="header">
  <button class="btn btn-primary" (click)="router.navigate(['/'])">Home</button>
  <button class="btn btn-primary" (click)="router.navigate(['/game'])">Game</button>
  <button class="btn btn-primary" (click)="router.navigate(['/debugger'])">Debugger</button>
  <button class="btn btn-primary" (click)="global.showSettings = !global.showSettings">Settings</button>
</div>
<div class="content">
  <ng-content select="content"></ng-content>
  <div class="footer" *ngIf="global.showSettings">
    <label for="divider">Divider</label>
    <input id="divider" type="number" step="1" [(ngModel)]="global.divider">
    <label for="percent">Minimal percentage match</label>
    <input id="percent" type="number" step="10" [(ngModel)]="global.minimalPercentage">
    <label for="margin">Margin modifier</label>
    <input id="margin" type="number" step=".1" [(ngModel)]="global.marginModifier">
    <label for="x">Width</label>
    <input id="x" type="number" step=".1" [(ngModel)]="global.scales.x">
    <label for="y">Height</label>
    <input id="y" type="number" step=".1" [(ngModel)]="global.scales.y">
  </div>
</div>
<div class="footer">
  <ng-content select="footer"></ng-content>
</div>



